{%extends 'projects/layaut.html'%}
{% block  content%}

    <main class="container">
      <div class="row">
         <div class="col-md-4 offset-md-4 ">
          <h1 class="display-3">{{task.title}}</h1>
        <form method="POST" class="card card-body">
        {%csrf_token%}
        {{form.as_p}}
        <div class="d-flex">
            <button class="btn btn-primary" type="">update</button> 
        </div>
        <div class="d-flex">
            <form action="{% url 'task_complet' task.id%}" method="POST">
            {%csrf_token%}
            <button class="btn btn-primary" type="">
                completo
            </button> 
        </form>
        <form action="{% url 'task_complet' task.id%}" method="POST">
            {%csrf_token%}
            <button class="btn btn-primary"type="">
                delete
            </button> 
        </form>
        </div>
    </form>
      </div>
        
    </main>
{% endblock  %}